/* {
	border: 1px solid red !important;
}*/

.spacer{
	margin-top: 5px;
	margin-bottom: 0px;


}
.wrap{
	display: inline;
}
 .medium-text{
 	font-size: 3vmin;

 }

.pages-logo{
	width: 80px;
    height: 70px;
    margin-top: 20px;
}

body{
font-family: 'Lato', sans-serif;
word-wrap: break-word;
line-height: 200%;
}


.link{
	color: #747704
}

#my-image {
    margin-top: 10px;
}

.pages-title{
	color: #efefef;
}

.star{
	font-size: 3.5vw;
	vertical-align: middle;
	color: #354b59;

}

.subtitle{
	font-size: 4vmin;
}

.tie-photo {
    margin-top: 20px;
}

.title2 {
	font-size: 5vmin;
	font-weight: bold;
	margin-top: 35px;
	margin-bottom: 20px;

}

.title-logo {
	width: 100px;
	height:100px;
}

.title{
	font-family: 'Cinzel', serif;
}


.title-super{
	font-size: 4vmin;

}

.rounded-corners{
	border-radius: 8px;

}



hr {
	height: 4px;
	background-color: #BCBBBB;
	margin-top: 6px;
	margin-bottom: 40px;
}

.space{
	margin-top: 0px;
	font-size: 4vmin;
}


.bg-blue {
	background-color: #354b59;
	margin-top: 55px;
	min-height: 120px;
}

.bg-blue h2{
	color: #efefef;
	display: inline;

}

#content{

margin-top: 55px;

}

.zero-bottom{
	margin-bottom: 0px;
}


.title-image{

	width: 75vmax;
}





@media (max-width: 444px) {
	.navbar-brand {
		font-size: .8em;
	}

	h3,h4{
		font-size: .9em;
	}

	.star{ font-size: 8vw;
	}

}

@media (max-width: 700px) {


	.star{
		font-size: 8vw;

	}

}

